body {
    background-color: rgb( 237, 237, 237);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    width: 720px;
    height: 480px;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 700;
}

.grid-item {
    background-color: rgb(255, 255, 255);
}

.grid-item:hover {
    background-color: rgb(40, 40, 40);
}

.setting {
    display: flex;
}

.color-picker,
.button-container,
.grid-size {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 12px 0 12px;
}

#colorPicker {
    transform: translateY(12px);
}

.text {
    padding: 12px 0;
    font-size: 18px;
    transform: translateY(6px);
}

.style-button {
    background-color: white;
    padding: 10px 30px;
    margin-right: 2px;
    border-radius: 10px;
    border: gray solid 2px;
}

.active {
    background-color: rgb(52, 52, 52);
    color: white;
    font-weight: 700;
    border: none;
}

#colorPicker {
    width: 52px;
    height: 39px;
    border: none;
    padding: 0;
}

h1 {
    margin: 2px 0 10px;
    font-size: 3rem;
    text-align: center;
}